#schedule-template-main-body {
  display:flex;
  flex-direction: row;

  justify-content: space-between;
}

#schedule-template-left-body {
  display:flex;
  flex-direction: column;
}

#schedule-template {
  color: white;
  font-weight: bold;
}

#schedule-template-right-body {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 250px 250px;

  column-gap: 10px;
  row-gap: 10px;
}

.schedule-template-day-container {
  display:flex;
  flex-direction: column;

  align-items: center;

  background-color: rgb(238,238,238);
  border-style: solid;
  border-color: rgb(238,238,238);

  border-radius: 5px;
}

.schedule-template-day-title-container {
  margin-top: 5px;
  margin-bottom: 1px;
}

.schedule-template-line-between-title-and-text {
  border-color: black; 
  width: 80%; 
  border-width: 0.5px;
}

.schedule-template-day-title {
  font-weight: bold;
  color: black;
}

.schedule-template-day-text {
  width: 193px;
  height: 200px;
  border:none;
  resize: none;
  outline: none;
  background-color: rgb(238,238,238);
}

#update-schedule-template-button-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#update-schedule-template-button {
  color: black;
  background-color: rgb(171,140,85);
  border-style: solid;
  border-color: rgb(171,140,85);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#done-for-the-week-button:hover {
  background-color: rgb(236, 179, 82);
}

#left-empty-space {
  flex: 2;
}

#middle-empty-space {
  flex: 8;
}

#right-empty-space {
  flex: 2;
}